&nbsp;
<div class="container-fluid">
  &nbsp;
  <div class="container">
    <h2 class="header">About</h2>
    <hr class="hr4">

    <div class="row">
      <div class="col-md-8">
        <p class="para">Dr. Omid Mehrpour MD, FACMT is a well-published medical toxicologist
          and a clinical data scientist working at US Medical Research; he also collaborates on medical toxicology
          research and use of artificial intelligence in medicine with the University of Colorado and the
          University of Michigan. He has published more than 220 peer-reviewed papers in medical toxicology. He has been
          acknowledged as the best reviewer on Publons in 2018,2019. In addition, Dr. Mehrpour is among the top 2% of
          scientists based on the Stanford university list.</p>
        <p class="para"> Mrs. Homeira Atayee is an expert programmer with extensive
          experience in Python programming</p>
        &nbsp;
        <p class="para">To view Dr. Omid Mehrpours’s publications, visit:</p>

        <h4 class="para"><u>Publications</u></h4>
        <p class="para">Also, visit his Linkedin profile at :</p>

        <a href="https://www.linkedin.com/in/omid-mehrpour/" class="para"><u>Linkedin</u></a>
      </div>
      <div class="col-md-3 offset-md-1">
        <img
          src="assets/images/Rectangle3.png"
          alt="">
      </div>
    </div>
    &nbsp;
    <h2 class="header">Refrences</h2>
    <hr class="hr4">

    <div class="row">
      <div class="col-md-8">
        &nbsp;
       <ol class="para">
         <li>Rumack BH, Peterson RC, Koch GG, Amara IA. Acetaminophen overdose.
          662 cases with evaluation of oral acetylcysteine treatment. Arch Intern Med.
          1981 Feb 23;141(3 Spec No):380-5. doi: 10.1001/archinte.141.3.380. PMID:
          7469629.</li>
          <li>Hendrickson RG. What is the most appropriate dose of N-acetylcysteine
            after massive acetaminophen overdose? Clin Toxicol (Phila). 2019
            Aug;57(8):686-691. </li>
          <li>Chiew AL, Reith D, Pomerleau A, Wong A, Isoardi KZ, Soderstrom J,
            Buckley NA. Updated guidelines for the management of paracetamol
            poisoning in Australia and New Zealand. Med J Aust. 2020 Mar;212(4):175-
            183. doi: 10.5694/mja2.50428. Epub 2019 Dec 1. PMID: 31786822.</li>
          <li>Wallace CI, Dargan PI, Jones AL. Paracetamol overdose: an evidence based
            flowchart to guide management. Emerg Med J. 2002 May;19(3):202-5. doi:
            10.1136/emj.19.3.202. Erratum in: Emerg Med J 2002 Jul;19(4):376. PMID:
            11971827; PMCID: PMC1725876.</li>
          <li>Jeong HH, Cha K, Choi KH, So BH. Evaluation of cut-off values in acute
            paracetamol overdose following the United Kingdom guidelines. BMC
            Pharmacol Toxicol. 2022 Jan 5;23(1):5. doi: 10.1186/s40360-021-00547-1.
            PMID: 34986902; PMCID: PMC8734297</li>
       </ol>
      </div>
    </div>
  </div>
  &nbsp;
</div>
&nbsp;
