<footer class="text-center fixed-bottom text-white" style="background-color: #f1f1f1;">
  <div class="text-center text-dark mt-2" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text-dark" routerLink="about">About Author</a>
  </div>

  <!-- Copyright -->
  <div class="text-center text-dark mt-2" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="http://developers-core.com/">DevelopersCore.com</a>
  </div>
  <!-- Copyright -->
</footer>
