<mat-grid-list cols="3" rowHeight="3:2">
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <div class="conatiner text-center">
            <h1 class="heading font_settings">Acetaminophen Poisoning Calculator</h1>
            <h4 class="sub_heading text-left m-5 font_settings">This program is built for determining and calculating toxic ingested doses and toxic acetaminophen concentrations in acute poisoning and supratherapeutic ingestion of acetaminophen. We used Rumack's nomogram and other guidelines in countries
                like the US, UK, Australia, etc., and considered many scenarios, including non-toxic, toxic, massive ingestion, etc. In addition, this program will provide a suggestion for each condition.</h4>
            <button mat-flat-button class="button_settings font_settings" routerLink="questionanaire">Lets Begin <i class="ml-5 fas fa-long-arrow-alt-right"></i></button>

        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2" style="background-image: url('assets/images/tablet_image_home.png');">
    </mat-grid-tile>
</mat-grid-list>
<app-footer></app-footer>